<div class="container">
  <h1><%= @list.name %></h1>

  <%= link_to 'Home', lists_path, class: 'btn btn-primary mt-2' %>

  <h1><% @bookmarks.each do |bookmark| %></h1>
  <h1><%= bookmark.movie.title %></h1>
  <%= image_tag bookmark.movie.poster_url, crop: :thumb %>
  <h1><% end %></h1>


<%# <p><%= link_to "delete", bookmark_path(@bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>

</div>
